/*
** HOME PAGE CSS
*/

@font-face {
  	font-family: "SourceSansProSemiBold";
  	src: url("../font/Source_Sans_Pro/SourceSansPro-SemiBold.ttf");
}

@font-face {
  	font-family: "SourceSansProRegular";
  	src: url("../font/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

@font-face {
  	font-family: "RalewayRegular";
  	src: url("../font/Raleway/Raleway-Regular.ttf");
}

body{
	margin: 0;
	overflow-x: hidden;
}

/*
** HEADER CSS
*/

header{
	border-bottom: 1px solid #ffffff;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.12);
	position: fixed;
    width: 100%;
    z-index: 999;
    background: white;
}

header .navbar{
	margin: 0;
}

header .navbar a{
	font-size: 16px;
	font-family: "RalewayRegular", sans-serif;
	color: #337ab7;
	cursor: pointer;
}

header .navbar a:hover, header .navbar a:focus{
	color: #1d4493;
	outline: none;
	background: white !important;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: white !important; 
}

header .navbar .navbar-header .navbar-brand{
    width: 130px;
}

header .navbar .navbar-header .navbar-brand img{
    width: 100%;
}

header .navbar .nav li.select_uni ul.all_uni li a{
	font-size: 16px;
	font-family: "SourceSansProRegular";
	color: #5f5e5e;
}

header .navbar .nav li.select_uni ul.all_uni li a:hover{
	color: #337ab7;
}

header .navbar .navbar-right li a.goprofile{
	padding: 12px 15px;
}

header .navbar .navbar-right li a.alt_menu{
	padding: 10px 15px;
}

header .navbar .navbar-right li a i.fa-sort-up{
	position: absolute;
	top: 41px;
	right: 30px;
	font-size: 30px;
	display: none;
}

header .navbar .navbar-right li a i sup{
	font-size: 15px;
	padding: 2px 4px;
}

header .navbar .navbar-right li a img{
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

header .navbar .navbar-right li a i.fa-th{
	border: 1px solid #1d4493;
	border-radius: 50%;
	padding: 7px;
	cursor: pointer;
}

header .navbar .messages_list{
	width: 300px;
	border: 1px solid #bbc7e0;
	border-top: none;
    box-shadow: 0 4px 19px 0 rgba(42, 110, 234, 0.20);
    font-family: "SourceSansProRegular", sans-serif;
	position: fixed;
    right: 323px;
    top: 55px;
    background: white;
}

header .navbar .messages_list ul,header .navbar .notifications_list ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

header .navbar .messages_list ul li a.list-group-item,header .navbar .notifications_list ul li a.list-group-item{
	padding: 10px;
	border: none;
	border-bottom: 1px solid #d4dff5;
	border-radius: 0;
}

header .navbar .messages_list ul li a.new_message,header .navbar .notifications_list ul li a.new_notification{
	background: #ebf5fd !important;
}

header .navbar .messages_list ul li a.list-group-item:hover,header .navbar .notifications_list ul li a.list-group-item:hover{
	background: #ebf5fd !important;
}

header .navbar .messages_list ul li a.list-group-item .person_profile_img{
	width: 50px;
	height: 50px;
	display: inline-block;
}

header .navbar .messages_list ul li a.list-group-item .person_profile_img img{
	width: 100%;
	height: 100%;
}

header .navbar .messages_list ul li a.list-group-item .message_info{
	display: inline-block;
	height: 50px;
}

header .navbar .messages_list ul li a.list-group-item .message_info .message_text {
    position: relative;
    top: 8px;
    left: 5px;
}

header .navbar .messages_list ul li a.list-group-item .message_info .message_text h4{
	font-size: 14px;
	margin: 0;
	font-family: "SourceSansProSemiBold",sans-serif;
}

header .navbar .messages_list ul li a.list-group-item .message_info .message_text span{
	font-size: 12px;
	color: #5f5e5e;
}

header .navbar .notifications_list{
	width: 300px;
	border: 1px solid #bbc7e0;
	border-top: none;
    box-shadow: 0 4px 19px 0 rgba(42, 110, 234, 0.20);
    font-family: "SourceSansProRegular", sans-serif;
	position: fixed;
    right: 267px;
    top: 55px;
    background: white;
}

header .navbar .notifications_list ul li a.list-group-item span{
	font-size: 14px;
}
	
	/* MOBILE HEADER */

header .navbar .navbar-header .mobile_header{
	/*display: inline-block;*/
	padding: 10px;
}

header .navbar .navbar-header .mobile_header ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

header .navbar .navbar-header .mobile_header ul li{
	display: inline-block;
}

header .navbar .navbar-header .mobile_header ul li a i{
	font-size: 22px;
	position: relative;
}

header .navbar .navbar-header .mobile_header ul li a i i.fa-sort-up{
	position: absolute;
	right: 14px;
	top: 33px;
	display: none;
}

header .navbar .navbar-header .mobile_header ul li:nth-child(3){
	float: right;
}

header .navbar .navbar-header .mobile_header ul li a img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}


/*
** 	BODY CSS
*/

section.main_section{
	/*padding: 1% 0%;*/
    padding-top: 80px;
}

	/* MOBILE MENU */

section.main_section .mobile_menu > .dropdown{
	display: inline-block;
}

section.main_section .mobile_menu > .dropdown > button{
	margin-left: 15px;
	background: transparent;
	color: #337ab7;
	font-family: "SourceSansProSemiBold",sans-serif;
}

section.main_section .mobile_menu button.mob_menu_btn {
    background-color: #ffffff;
    border: 1px solid transparent;
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-bottom: 8px;
    outline: none;
}

section.main_section .mobile_menu button.mob_menu_btn span{
	background: #337ab7;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

section.main_section .mobile_menu button.mob_menu_btn .icon-bar+.icon-bar {
    margin-top: 4px;
}

section.main_section .mobile_menu .mob_right_menu {
    width: 250px;
    height: 100%;
    position: fixed;
    right: -250px;
    top: 52px;
    background: #ffffff;
    border: 1px solid #bbc7e0;
    border-right: none;
    border-top: none;
    z-index: 888;
    padding: 10px;
    font-family: "SourceSansProRegular", sans-serif;
}

section.main_section .mobile_menu .mob_right_menu .head .close_menu button{
	background: transparent;
    border: none;
    outline: none;
}

section.main_section .mobile_menu .mob_right_menu .head .close_menu button i{
	font-size: 20px;
	color: #337ab7;
}

section.main_section .mobile_menu .mob_right_menu .head form .form-group{
	position: relative;
}

section.main_section .mobile_menu .mob_right_menu .head form .form-group input{
	border: 1px solid #337ab7;
	outline: none;
	box-shadow: none;
}

section.main_section .mobile_menu .mob_right_menu .head form .form-group input::placeholder{
	color: #337ab7;
}

section.main_section .mobile_menu .mob_right_menu .head form .form-group button{
	position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: white;
    border: 1px solid #337ab7;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #337ab7;
}

section.main_section .mobile_menu .mob_right_menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

section.main_section .mobile_menu .mob_right_menu ul li{
	padding: 5px 10px;
}

section.main_section .mobile_menu .mob_right_menu ul li a{
	font-size: 17px;
}

	/* LEFT ASIDE and RIGHT ASIDE CSS */

section.main_section .left_aside .saved_posts,section.main_section .right_aside .rating_list,section.main_section .right_aside .popular_posts {
    border: 1px solid #bbc7e0;
    box-shadow: 0 4px 19px 0 rgba(0,0,0,0.12);
    color: #337ab7;
    font-family: "SourceSansProRegular", sans-serif;
    margin-bottom: 5%;
}

section.main_section .left_aside .saved_posts i.fa-times{
	float: right;
	cursor: pointer;
}

section.main_section .left_aside .saved_posts > h3,section.main_section .right_aside .rating_list > h3,section.main_section .right_aside .popular_posts > h3{
    margin: 0;
    font-family: "SourceSansProSemiBold", sans-serif;
    padding: 2%;
    background: #337ab7;
    color: white;
    font-size: 18px;
}


section.main_section .left_aside .saved_posts ul,section.main_section .right_aside .rating_list ul,section.main_section .right_aside .popular_posts ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

section.main_section .left_aside .saved_posts ul li,section.main_section .right_aside .rating_list ul li,section.main_section .right_aside .popular_posts ul li{
	padding: 5%;
	border-bottom: 1px solid #e6e6e6;
}

section.main_section .left_aside .saved_posts ul li span,section.main_section .right_aside .rating_list ul li span,section.main_section .right_aside .popular_posts ul li span{
	float: right;
	font-family: "SourceSansProSemiBold", sans-serif;
	color: #337ab7;
}

section.main_section .left_aside .saved_posts ul li span img,section.main_section .right_aside .rating_list ul li span img,section.main_section .right_aside .popular_posts ul li span img{
	width: 15px;
}

section.main_section .right_aside .rating_list ul li a{
	font-size: 16px;
	color: #5f5e5e;
}

section.main_section .right_aside .rating_list ul li a:hover{
	color: #1d4493;
	text-decoration: none;
}

section.main_section .left_aside .saved_posts ul li h4,section.main_section .right_aside .popular_posts ul li h4{
	margin: 0;
	margin-bottom: 5px;
	font-size: 16px;
}

section.main_section .right_aside .popular_posts ul li h4 a,section.main_section .left_aside .saved_posts ul li h4 a{
	color: #5f5e5e;
}

section.main_section .left_aside .saved_posts ul li h4 a:hover,section.main_section .right_aside .popular_posts ul li h4 a:hover{
	color: #1d4493;
	text-decoration: none;
}


	/* MAIN PART CSS */

section.main_section .main_part .shared_news,section.main_section .main_part .ask_question{
	border: 1px solid #bbc7e0;
    box-shadow: 0 4px 19px 0 rgba(0,0,0,0.12);
    font-family: "SourceSansProRegular", sans-serif;
    padding: 2% 3%;
    margin-bottom: 3%;
}

section.main_section .main_part .ask_question .write_question{
	border-bottom: 1px solid #dcdada;
	margin-bottom: 2%;
}

section.main_section .main_part .ask_question a{
	color: #337ab7;
	cursor: pointer;
	font-weight: normal;
}

section.main_section .main_part .ask_question a:hover{
	color: #17558a;
	text-decoration: none;
}

section.main_section .main_part .ask_question .write_question textarea{
	width: 100%;
    height: 80px;
    resize: none;
    border: none;
    outline: none;
}

section.main_section .main_part .ask_question .write_question .uploaded_photo input#file-input/*,.write_article_modal .modal-dialog .modal-content .modal-body form .uploaded_photo input*/{
	display: none;
}

section.main_section .main_part .ask_question .write_question .uploaded_photo img{
	width: 100%;
	margin-bottom: 2%;
}

section.main_section .main_part .ask_question .buttons_box{
	margin-bottom: 1%;
}

section.main_section .main_part .ask_question .buttons_box form{
	float: right;
}

section.main_section .main_part .ask_question .buttons_box button.share_question_btn,.write_article_modal .modal-dialog .modal-content form .modal-footer button{
	background: #337ab7;
	color: white;
	padding: 3px 6px;
    border-radius: 2px;
    margin-top: -2.5px;
}

section.main_section .main_part .ask_question .buttons_box button.share_question_btn:hover,.write_article_modal .modal-dialog .modal-content form .modal-footer button:hover{
	background: #17558a;
	border: 1px solid #17558a;
}

section.main_section .main_part .ask_question .buttons_box select.choose_specialty,.write_article_modal .modal-dialog .modal-content form .modal-footer select.choose_specialty{
	border: 1px solid #c7c6c6;
    padding: 3px;
    border-radius: 2px;
    margin-right: 5px;
    outline: none;
    width: 150px;
}

section.main_section .main_part .shared_news .person_info h3{
	margin: 0;
	font-family: "SourceSansProSemiBold", sans-serif;
	font-size: 18px;
}

section.main_section .main_part .shared_news .person_info h3 a:hover{
	color: #1d4493;
	text-decoration: none;
}

section.main_section .main_part .shared_news .person_info i.save_post,section.main_section .right_aside .popular_posts ul li i.save_post{
	float: right;
	font-size: 18px;
    color: #1d4493;
    cursor: pointer;
}

section.main_section .main_part .shared_news .person_info span{
	font-size: 12px;
	color: #9e9e9e;
}

section.main_section .main_part .shared_news .post_info h4{
	font-size: 16px;
	color: #337ab7;
}

section.main_section .main_part .shared_news .post_info p{
	text-align: justify;
    color: #5f5e5e;
    display: inline;
}

section.main_section .main_part .shared_news .post_info img{
	width: 100%;
}

	/* MESSAGE BOX CSS */

section.main_section .message_tab{
	position: fixed;
	z-index: 1000;
	bottom: 0;
	right: 10px;
	height: 0;
	overflow: visible;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: flex-end;
}

section.main_section .message_box{
	width: 300px;
    height: 400px;
    background: #ffffff;
    transform: translateY(0px);
    float: right;
    border: 1px solid #bbc7e0;
    box-shadow: 0 4px 19px 0 rgba(0,0,0,0.12);
    font-family: "SourceSansProRegular", sans-serif;
    margin-left: 15px;
/*    position: fixed;
    bottom: 0;
    right: 0;*/
}

section.main_section .message_box .header {
    background: #337ab7;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

section.main_section .message_box .header a{
    color: white;
    font-family: "SourceSansProSemiBold",sans-serif;
}

section.main_section .message_box .header span{
	float: right;
}

section.main_section .message_box .conversation {
    padding: 10px;
    height: 275px;
    overflow-y: scroll;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
}

section.main_section .message_box .conversation ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

section.main_section .message_box .conversation ul li{
	margin-bottom: 15px;
}

section.main_section .message_box .conversation ul li.against_msg div a{
	position: absolute;
}

section.main_section .message_box .conversation ul li.against_msg div a img{
	width: 32px;
	height: 32px;
}

section.main_section .message_box .conversation ul li div .msg_text{
	display: inline-block;
	padding: 5px;
    border-radius: 5px;
    max-width: 70%;
}

section.main_section .message_box .conversation ul li.against_msg div .msg_text{
	background: #eaeaea;
	margin-left: 30px;
}

section.main_section .message_box .conversation ul li.your_msg div .msg_text{
	float: right;
	background: #d3f5fb;
}

section.main_section .message_box .message_textbox form textarea{
	width: 100%;
	height: 50px;
    padding: 5px 10px 0px;
	resize: none;
	border: none;
	border-bottom: 1px solid #e6e6e6;
	outline: none;
}

section.main_section .message_box .message_textbox form button{
	float: right;
    margin-right: 17px;
    background: #337ab7;
    color: white;
    padding: 3px 10px;
}

	/* SEARCH SECTION CSS */

section.search_section .modal .modal-dialog {
    width: 100%;
    margin: 0;
    height: 100%;
}

section.search_section .modal .modal-dialog .modal-content {
    height: 100%;
    width: 100%;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    background: #000000;
    opacity: 0.8;
    position: relative;
}

section.search_section .modal .modal-dialog .modal-content button{
	position: absolute;
	top: 15px;
	right: 15px;
	color: white;
	opacity: 1;
}

section.search_section .modal .modal-dialog .modal-content .container{
	height: 100%;
	position: relative;
}

section.search_section .modal .modal-dialog .modal-content .container form{
	position: relative;
    top: 50%;
    transform: translateY(50%);
    width: 100%;
}

section.search_section .modal .modal-dialog .modal-content .container form input{
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    border-radius: 0;
    width: 100%;
    padding: 0;
    font-family: Cochin-Bold;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 50px;
    height: 50px;
    outline: none;
    box-shadow: none;
}

section.search_section .modal .modal-dialog .modal-content .container form button.search_btn {
    background: transparent;
    border: none;
    font-size: 30px;
    position: absolute;
    top: 5px;
    right: 0px;
}


	/* RIGHT MENU SECTION CSS */

section.right_menu_section{
	position: fixed;
	right: -250px;
	top: 56px;
    width: 250px;
    border: 1px solid #bbc7e0;
    border-right: none;
    border-top: none;
    box-shadow: 0 4px 19px 0 rgba(42, 110, 234, 0.20);
    font-family: "SourceSansProRegular", sans-serif;
    padding: 30px 7px;
    background: white;
}

section.right_menu_section button.close_right_menu {
    position: absolute;
    right: 5px;
    top: 5px;
    background: transparent;
    border: 1px solid #5f5e5e;
    border-radius: 50%;
    color: #5f5e5e;
    outline: none;
}

section.right_menu_section button.close_right_menu:hover{
	border: 1px solid #337ab7;
	color: #337ab7;
}

section.right_menu_section ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

section.right_menu_section ul li{
	padding: 10px;
	border-bottom: 1px solid #5f5e5e;
}

section.right_menu_section ul li a{
	color: #5f5e5e;
	font-size: 16px;
}

section.right_menu_section ul li a:hover{
	color: #337ab7;
	text-decoration: none;
}

	/* WRITE ARTICLE MODAL CSS */

.write_article_modal .modal-dialog .modal-content .modal-header,.specialty_modal .modal-dialog .modal-content .modal-header{
	background: #337ab7;
	color: white;
	font-family: "SourceSansProSemiBold",sans-serif;
	padding: 10px;
}

.write_article_modal .modal-dialog .modal-content form .modal-body{
	height: 415px;
	max-height: 415px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.write_article_modal .modal-dialog .modal-content form .modal-body::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(0,0,0,0);
}

.write_article_modal .modal-dialog .modal-content form .modal-body::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(0,0,0,0);
}

.write_article_modal .modal-dialog .modal-content form .modal-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #337ab7;
}

.write_article_modal .modal-dialog .modal-content form .modal-body .user_profile_img{
	display: inline-block;
    width: 60px;
    position: relative;
    top: -257px;
}

.write_article_modal .modal-dialog .modal-content form .modal-body .user_profile_img img{
	width: 100%;
}

.write_article_modal .modal-dialog .modal-content form .modal-body .write_article{
	display: inline-block;
	width: 500px;
    padding-left: 15px;
}

.write_article_modal .modal-dialog .modal-content form .modal-body .write_article input{
	width: 100%;
	padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #d8d7d7;
    border-radius: 2px;
    outline: none;
}

.write_article_modal .modal-dialog .modal-content form .modal-body .write_article textarea{
	width: 100%;
	height: 250px;
	padding: 5px;
    border: 1px solid #d8d7d7;
    border-radius: 2px;
    resize: none;
    outline: none;
}

.write_article_modal .modal-dialog .modal-content form .modal-body .write_article input::placeholder,.write_article_modal .modal-dialog .modal-content .modal-body form .write_article textarea::placeholder{
	color: #afadad; 
}

.write_article_modal .modal-dialog .modal-content form .modal-body .uploaded_photo img{
	width: 100%;
}

.write_article_modal .modal-dialog .modal-content form .modal-footer{
	padding: 10px;
}

	/* SPECIALTY MODAL CSS */

.specialty_modal .modal-dialog .modal-content .modal-body{
	padding: 0;
}

.specialty_modal .modal-dialog .modal-content .modal-body ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.specialty_modal .modal-dialog .modal-content .modal-body ul li{
	padding: 10px;
	border-bottom: 1px solid #e6e6e6;
}

.specialty_modal .modal-dialog .modal-content .modal-body ul li .img_representative{
	display: inline-block;
	width: 60px;
}

.specialty_modal .modal-dialog .modal-content .modal-body ul li .img_representative img{
	width: 100%;
}

.specialty_modal .modal-dialog .modal-content .modal-body ul li .info_representative{
	display: inline-block;
	position: relative;
    top: 8px;
}

.specialty_modal .modal-dialog .modal-content .modal-body ul li .info_representative h3{
	margin: 0;
    font-family: "SourceSansProSemiBold", sans-serif;
    font-size: 18px;
}

.specialty_modal .modal-dialog .modal-content .modal-body ul li .info_representative span{
	font-size: 12px;
    color: #9e9e9e;
}

.specialty_modal .modal-dialog .modal-content .modal-body ul li button{
	float: right;
	margin-top: 13px;
    background: #337ab7;
    color: white;
    font-family: "SourceSansProSemiBold",sans-serif;
}

.specialty_modal .modal-dialog .modal-content .modal-body ul li button:hover{
	background: #17558a;
    border: 1px solid #17558a;
}

.modal-backdrop {
   background-color: red;
}